<div class="container">
 <div class="row">
   <div class="col-sm-12 col-md-8 col-lg5 px-5 px-sm-0 mx-auto">
  <h2>User info</h2>
   <%= render 'books/error', model: @user %>
   <%= form_with model:@user, loccal:true do |f| %>
  <div class="form-group">Name</div>
    <%= f.text_field :name %>
  <div class="form-group">Image</div>
    <%= f.attachment_field :profile_image %>
  <div class="form-group">Introduction</div>
    <%= f.text_area :introduction %><br>
  <div class="form-group">
    <%= f.submit " Update User",class:"btn btn-secondary" %>
  </div>
<% end %>
</div>
</div>
</div>