<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h2>Editing Book</h2>
<%= render 'books/error', model: @book %>
<%= form_with url:book_path local: true do |f| %>
<div>
  <%= f.label :Title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :Opinion %>
  <%= f.text_area :body %>
</div>

<div>
  <%= f.submit "Update Book", class:"btn btn-success col-xs-10 col-xs-offset-1" %>
</div>
<% end %>

<div>
  <%= link_to "Show", book_path(@book.id) %>
  |
  <%= link_to "Back", books_path %>
</div>
</div>
</div>
</div>
